/* Solo afectará a los botones dentro de la clase usuarios-container */
.usuarios-container .btn {
    background-color: #4574a0;
    color: white;
    border-radius: 8px;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .usuarios-container .btn:hover {
    background-color: #619ed7;
  }
  
  /* Otros estilos específicos para el componente de Usuarios */
  .usuarios-container h1 {
    font-size: 32px;
    color: #2c3e50;
  }
  
  .usuarios-container h6 {
    font-size: 18px;
    color: #7f8c8d;
  }
  